body {
	display: grid;
	grid-gap: 10px;
	height: 100vh;
	grid-template-rows: 1fr 1fr 4fr 1fr;
	grid-template-columns: 1fr 0.7fr;
}
body > * {
	background: yellowgreen;
}
article {
	background-color: yellow;
	margin: 10px;
	height: 20vh;
}
header {
	grid-column:1/3;
  	grid-row: 1;
}
nav {
	grid-column:1/3;
  	grid-row: 2;
}
main {
	grid-column: 1/2;
  	grid-row: 3;
}
aside {
	grid-column: 2;
  	grid-row: 3;
}
footer {
	grid-column:1/3;
  	grid-row: 4;
}